.checkoutProduct
{
    display: flex;
    margin: 20px 0px;
    padding: 20px;
    border-bottom: 1px solid lightgray;
}

.checkoutProduct_info
{
    padding-left: 20px;
}

.checkoutProduct >img
{
    object-fit: contain;
    height: 180px;
    width: 180px;
}

.checkoutProduct_additional_info
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 10px;
    max-width: 500px;
}

.checkoutProduct_title
{
    font-size:17px;
    font-weight: 500;
}

.checkoutProduct_additional_info  a{
    color:#007185;
    font-size:12px
}

.checkoutProduct_additional_info>span{
        color:#007185;

}

.checkoutProduct_additional_info  a:hover
{
 text-decoration: underline;
 transition:all .5s
}

.checkoutProduct_additional_info  select{
 background-color: #f0f2f2;
    border: 1px solid #d0d4d4;
    border-radius: 8px;
    padding: 6px 6px;
    position: relative;
    top:8px
}

.checkoutProduct_gift
{
    display: flex;
    align-items: center;
}
.checkoutProduct_gift > input
{
    margin-right:5px;
}